<html>

    <head>
        <title>Final Project</title>

  <!-- Compiled and minified CSS -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified JavaScript -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Find Out Your Zodiac and Horoscope Here</h1>

        </div>
        <div class="container">
        <form method="POST" action="/results">
          <p>Enter your birthday here: <input type="date" name ="search"/></p>
    <button type="submit"> Submit</button>

        </form>
        </div>
        
    </body>
    </html>
